<!-- Fichier de description d'application Web -->
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
         
<!-- Description d'une servlet avec association à la classe Java. -->
	<servlet>
		<servlet-name>IndexServlet</servlet-name>
		<servlet-class>presentation.IndexServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>listeClientsServlet</servlet-name>
		<servlet-class>presentation.listeClientsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>listeComptesServlet</servlet-name>
		<servlet-class>presentation.listeComptesServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>virementsServlet</servlet-name>
		<servlet-class>presentation.virementsServlet</servlet-class>
	</servlet>
		<servlet>
		<servlet-name>AuthFailed</servlet-name>
		<servlet-class>presentation.AuthFailed</servlet-class>
	</servlet>
	
	<!-- Filtre d'URL -->
	<filter>
	<filter-name>FiltreAuthentification</filter-name>
	<filter-class>presentation.AuthFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>FiltreAuthentification</filter-name>
		<url-pattern>/listeClients</url-pattern>
		<url-pattern>/listeComptes</url-pattern>
		<url-pattern>/virements</url-pattern>
	</filter-mapping>
	
	<!--  description du pattern d'url -->
	<servlet-mapping>
		<servlet-name>IndexServlet</servlet-name>
		<url-pattern>/Authentification</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>listeClientsServlet</servlet-name>
		<url-pattern>/listeClients</url-pattern>
	</servlet-mapping> 
	<servlet-mapping>
		<servlet-name>listeComptesServlet</servlet-name>
		<url-pattern>/listeComptes</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>virementsServlet</servlet-name>
		<url-pattern>/virements</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AuthFailed</servlet-name>
		<url-pattern>/AuthFailed</url-pattern>
	</servlet-mapping>


	<!-- Documentation pour les pages d'erreurs : https://docs.oracle.com/cd/E19316-01/819-3669/bnahi/index.html -->
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/error404.jsp</location>
	</error-page>
	
</web-app>